<!DOCTYPE html>
<html>
<head>
    <title>Pet Chatbot</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chat.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('add_pet_for_sale') }}">Add Pet for Sale</a>
        <a href="{{ url_for('view_pets_for_sale') }}">View Pets for Sale</a>
        <a href="{{ url_for('find_clinics') }}">Clinic Connect</a>
        <a href="{{ url_for('chatbot') }}">Chatbot</a>
        <a href="{{ url_for('compatibility') }}">Preference Pets</a>
        <a href="{{ url_for('view_pets_for_adoption') }}">View Pets for Adoption</a>
        <a href="{{ url_for('post_for_adoption') }}">Post Pet for Adoption</a>
        <a href="{{ url_for('post_event') }}">Add Events</a>
        <a href="{{ url_for('view_events') }}">View All Events</a>
    </div>
    <h1 style="color:white;text-align: center;padding-top: 20px;">Pet Chatbot</h1>
    <div class="chat-container">
        <div class="chat" id="chat">
            {% for role, message in conversation %}
                <div class="{{ role }}-message">{{ message }}</div>
            {% endfor %}
        </div>
        <form method="POST" action="/chatbot">
            <input type="text" id="user-query" name="user_query" placeholder="Type your message...">
            <button type="submit">Send</button>
        </form>
    </div>
</body>
</html>

