<!DOCTYPE html>
<html>
<head>
    <title>Post a Pet for Adoption</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('add_pet_for_sale') }}">Add Pet for Sale</a>
        <a href="{{ url_for('view_pets_for_sale') }}">View Pets for Sale</a>
        <a href="{{ url_for('find_clinics') }}">Clinic Connect</a>
        
        <a href="{{ url_for('compatibility') }}">Preference Pets</a>
        <a href="{{ url_for('view_pets_for_adoption') }}">View Pets for Adoption</a>
        <a href="{{ url_for('post_for_adoption') }}">Post Pet for Adoption</a>
        <a href="{{ url_for('post_event') }}">Add Events</a>
        <a href="{{ url_for('view_events') }}">View All Events</a>
    </div>
    <h1 style="color:white;text-align: center;padding-top: 20px;">Post a Pet for Adoption</h1>
    <form method="POST" action="/post_for_adoption" enctype="multipart/form-data">
        <label for="name">Pet Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="species">Species:</label>
        <input type="text" id="species" name="species" required>

        <label for="age">Age:</label>
        <input type="text" id="age" name="age" required>

        <label for="characteristics">Characteristics:</label>
        <textarea id="characteristics" name="characteristics" required></textarea>

        <label for="monthlyspent">Monthly spendings:</label>
        <textarea id="monthlyspent" name="monthlyspent" required></textarea>

        <label for="contact">Contact:</label>
        <input type="text" id="contact" name="contact" required>

        <label for="image">Image:</label>
        <input type="file" id="image" name="image">

        <button type="submit">Post for Adoption</button>
    </form>
    <a href="{{ url_for('index') }}">home</a>
    
</body>
</html>
